body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #cdcccc;
}
#temperatureInput{
    border: none;
    border-bottom: 2px solid grey ;
    outline: none;
}

.container {
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
    margin-bottom: 20px;
    border: none;

}

input, select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    padding: 10px 35px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #cdcccc;
}

.output-section {
    font-size: 18px;
}
